.hero {
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: calc(100vh - 80px);

    @media screen and (max-width: 600px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
    width: 100%;
    max-width: 560px;

    h1 {
      font-size: 72px;
      line-height: 88px;
      margin-bottom: 16px;

      @media screen and (max-width: 600px) {
        font-size: 48px;
        line-height: 56px;
      }
    }

    .join-btn {
      background-color: #000000;
      border-radius: 30px;
      padding: 16px 48px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      margin-top: 36px;
      display: inline-flex;
    }
  }

  &__info {
    gap: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-bottom: max(10vh, 40px);

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    .join {
      text-align: center;
      max-width: 380px;
      font-size: 18px;
      line-height: 24px;
    }

    .member {
      &__avatar {
        display: flex;
        margin-bottom: 16px;
        height: 48px;

        img {
          height: 100%;

          object-fit: contain;

          + img {
            margin-left: -24px;
          }
        }
      }

      span {
        font-weight: 700;
      }
    }

    .planet {
      p {
        margin-top: 16px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.home {
  &__wrapper {
    position: relative;
  }

  &__bg-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-size: contain;
    background-color: rgb(102, 254, 203);
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.section {
  &__container {
    @extend .container;
    padding-top: 64px;
    padding-bottom: 72px;
  }

  &__header {
    h2 {
      font-size: 72px;
      line-height: 88px;
      margin-bottom: 16px;
      text-align: center;

      @media screen and (max-width: 600px) {
        font-size: 48px;
        line-height: 56px;
      }
    }
  }

  &__content {
    margin-top: 120px;
  }
}

.world {
  margin: 100px 0;
  background: #040016;

  .container {
  }

  &__view {
    display: none;
    position: relative;
    min-height: 600px;
    width: 100%;
    height: 50%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 100% 100%, 100%;
    background-size: cover;
    background-blend-mode: saturation;

    .filter {
      // background-color: #040016;
      // top: 0;
      // left: 0;
    }

    img {
      width: 100%;
      height: 100%;
      max-height: 900px;
      object-fit: cover;
    }
  }

  &__story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #ffffff;
    place-items: center;
    padding-top: 48px;
    padding: 100px 0;

    @media screen and (max-width: 768px) {
      place-items: unset;
      grid-template-columns: 1fr;
    }

    h2 {
      font-size: 72px;
      line-height: 88px;
      margin-bottom: 24px;

      @media screen and (max-width: 768px) {
        font-size: 40px;
        line-height: 56px;
      }
    }

    h4 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    p {
      max-width: 500px;
      font-size: 18px;
      line-height: 24px;

      + p {
        margin-top: 24px;
      }
    }
  }
}

.video {
  &__container {
    width: 100%;
    overflow: hidden;
    max-width: 1440px;
    margin: auto;
    padding: 120px 0 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__header {
    text-align: center;

    .title {
      font-size: 40px;
      line-height: 56px;
      color: #110626;
      margin-top: 16px;
      margin-bottom: 24px;
    }

    .desc {
      font-size: 24px;
      line-height: 32px;
      color: #4f4b56;
    }
  }
  &__join {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;

    &-btn {
      border: 1px solid #0a0316;
      border-radius: 40px;
      padding: 10px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.3;
    }
  }
}

.creators {
  &__container {
    @extend .section__container;
    padding-top: 100px;
  }

  &__content {
    @extend .section__content;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 48px 24px;
    }
  }
}

.creator {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  border: 1px solid black;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    background: #d9d9d9;
    height: 220px;
  }

  &__info {
    padding: 28px 16px;

    h4 {
      font-size: 20px;
      letter-spacing: -4%;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -4%;
      margin-top: 10px;
    }
  }
}

.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #000000;

  h2 {
    font-size: 72px;
    line-height: 88px;

    @media screen and (max-width: 768px) {
      font-size: 40px;
      line-height: 56px;
    }
  }

  &__timeline {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 40px;
    overflow: hidden;
    margin-top: 96px;
    flex-wrap: wrap;

    &.desktop {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &.mobile {
      padding: 30px;

      .roadmap__card {
        height: 500px;

        &__timeline {
          font-size: 24px;
          line-height: 32px;
          color: #9b66ff;
        }
      }

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .button {
      padding: 14px 16px;
      border-radius: 50%;
      border: 1px solid white;

      &:last-child {
        transform: rotate(180deg);
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &__card {
    flex: 1 0 auto;
    border: 1px solid #000000;
    width: 100%;
    max-width: 400px;
    padding: 40px 32px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 20px;

    &__timeline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }

    &__content {
      margin-top: 40px;
      text-align: center;

      h4 {
        font-size: 24px;
        line-height: 40px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
      }
    }
  }
}

.why {
  background-color: #ffffff;

  .container {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;

    > * {
      padding: 200px 2rem;
    }

    @media screen and (max-width: 768px) {
      > * {
        padding: 96px 2rem;
      }
      grid-template-columns: 1fr;
    }
  }

  .title {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 52px;

    @media screen and (max-width: 768px) {
      font-size: 24px;
      line-height: 56px;
      margin-bottom: 32px;
    }
  }

  &__header {
    color: #110626;

    .desc {
      font-size: 24px;
      line-height: 32px;

      + .desc {
        margin-top: 24px;
      }
    }

    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }

  &__content {
    background-color: #9b66ff;

    .title {
      color: #ffffff;
    }
  }

  &__cards {
    display: grid;
    gap: 78px 48px;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 768px) {
      gap: 48px 24px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__card {
    min-width: 0;
    background: #ffffff;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    justify-content: space-between;

    &__content {
      h5 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.04em;
      }

      p {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
      }
    }
  }
}

.team {
  padding: 200px 16px;

  .container {
    padding: 0;
  }

  &__header {
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    color: #0a0316;
    text-align: center;
  }
  &__card {
    border: 2px solid #c5bed1;
    border-radius: 20px;
    overflow: hidden;
    // width: fit-content;
    cursor: pointer;
    width: 100%;
    display: block;
    position: relative;

    &__img {
      border-radius: 20px;
      width: 100%;
      max-height: 252px;
      object-fit: cover;
    }

    &__link {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    &__content {
      padding: 30px 24px;
      h5 {
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #0a0316;
        text-transform: capitalize;
        margin-bottom: 16px;
      }
      p {
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        color: #0a0316;
        text-transform: capitalize;
      }
    }
  }

  &__content {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(6, 100px);
    gap: 96px 40px;
    margin-top: 64px;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 48px 24px;
    }
  }
}

