.container {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 24px;
}

nav {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem !important;
  }
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  li {
    a {
      font-size: 16px;
      line-height: 32px;
      letter-spacing: -2%;
      padding: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.button {
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  color: #000000;
  font-size: 16px;
  padding: 10px 20px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  gap: 10px;

  &--accent {
    color: var(--accent);
    background: transparent;
    border: 0.5px solid var(--accent);
  }

  &--accent-fill {
    color: white;
    background: var(--accent);
    border: 1px solid var(--accent);

    &:hover {
      color: var(--accent);
      background: transparent;

      path {
        stroke: var(--accent);
      }
    }
  }
}

.video-container {
  width: 100%;
  height: 100%;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    max-height: 700px;
    // margin-top: -10%;
  }

  figure {
    width: 100%;
    position: relative;
  }

  div {
    width: 80px;
    height: 80px;
    blur: 20px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 2px solid white;
    // background: black;
    justify-content: center;
    transition: opacity 200ms ease-in;

    &[data-state='visible'] {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;

    svg {
      fill: white;
      stroke: none;
      border-radius: 2px;
      margin-left: 4px;
    }
  }
}

.parallax {
  overflow: hidden;
  margin: 80px 0 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 24px;
}

footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #000000;

  @media screen and (max-width: 768px) {
    padding-top: 48px;
  }

  h2 {
    font-size: 46px;
    line-height: 56px;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 64px;

    @media screen and (max-width: 768px) {
    }
  }

  .footer {
    &__links {
      list-style: none;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      li {
        border: 1px solid #ffffff;
        border-radius: 40px;
        padding: 10px 32px;

        a {
          font-size: 16px;
          color: #ffffff;
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 40px;
      padding-top: 60px;

      @media screen and (max-width: 768px) {
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
    }

    &__credits {
      p {
        margin-top: 24px;
        color: #ffffff;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      flex-direction: column;

      img {
        width: 120px;
        height: 120px;

        @media screen and (max-width: 768px) {
          width: 80px;
          height: 80px;
        }
      }

      .join-btn {
        background: #9b66ff;
        border-radius: 30px;
        padding: 16px 48px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        display: inline-flex;
        background: #9b66ff;
        border: 1px solid #9b66ff;

        &:hover {
          background: transparent;
        }
      }
    }
  }
}

