.container {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  // border-bottom: 1px solid #e0e0e0;
  background: var(--background);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}

nav ~ * {
  padding-top: 100px !important;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  li {
    a {
      font-size: 16px;
      line-height: 32px;
      letter-spacing: -2%;
      padding: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav-list {
  display: flex;
  gap: 4px;
  text-transform: capitalize;

  li {
    padding: 12px 20px;
    height: 100%;
    white-space: nowrap;

    &:hover a {
      color: var(--brand);
    }

    a {
      display: block;
    }
  }

  @media screen and (max-width: 700px) {
    display: none;
  }

  &.-mobile {
    position: absolute;
    top: 72px;
    right: 0;
    display: flex;
    background: var(--background);
    width: 100%;
    transform: translateX(-100%);
    transition: all 250ms ease-in-out;
    padding-bottom: 24px;
    flex-direction: column;

    &.-open {
      transform: translateX(0);
    }

    @media screen and (min-width: 700px) {
      display: none;
    }
  }
}

.toggle {
  box-sizing: content-box;
  height: 8px;
  outline: none;
  padding: 8px;
  pointer-events: all;
  position: absolute;
  right: 24px;
  width: 32px;
  background: transparent;
  z-index: 2;

  &:before,
  &:after {
    background-color: var(--foreground);
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 12px;
    transform-origin: center;
    transition: transform 150ms;
    width: 32px;
  }

  &:before {
    transform: translateY(-6px);
  }
  &:after {
    transform: translateY(6px);
  }

  &.-open {
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  @media screen and (min-width: 700px) {
    display: none;
  }
}

.button {
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  color: #000000;
  font-size: 16px;
  padding: 10px 20px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 10px;

  &--accent {
    color: var(--accent);
    background: transparent;
    border: 0.5px solid var(--accent);
  }

  &--accent-fill {
    color: white;
    background: var(--accent);
    border: 1px solid var(--accent);

    &:hover {
      color: var(--accent);
      background: transparent;

      path {
        stroke: var(--accent);
      }
    }
  }
}

.parallax {
  overflow: hidden;
  margin: 80px 0 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 24px;
}

footer {
  margin-top: -2px;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #000000;

  @media screen and (max-width: 768px) {
    padding-top: 48px;
  }

  h2 {
    font-size: 72px;
    line-height: 64px;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 64px;

    @media screen and (max-width: 768px) {
      // font-size: 64px;
      // line-height: 72px;
    }
  }

  .footer {
    &__links {
      list-style: none;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      a {
        border: 1px solid #ffffff;
        border-radius: 40px;
        padding: 10px 32px;
        font-size: 16px;
        color: #ffffff;

        &:hover {
          color: #000000;
          background: #ffffff;
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 40px;
      padding-top: 60px;

      @media screen and (max-width: 768px) {
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
    }

    &__credits {
      p {
        margin-top: 24px;
        color: #ffffff;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      flex-direction: column;

      img {
        width: 120px;
        height: 120px;

        @media screen and (max-width: 768px) {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

.join-btn {
  border-radius: 30px;
  padding: 16px 48px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  width: fit-content;
  cursor: pointer;

  &:hover {
    background: transparent;
  }

  &--black {
    background-color: #000000;
    border: 1px solid #000000;

    &:hover {
      color: #000000;
    }
  }

  &--purple {
    background: #9b66ff;
    border: 1px solid #9b66ff;
  }

  &--outline {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;

    &:hover {
      color: #000000;
      background: #ffffff;
    }
  }
}

